.catalog-button {
    border: none;
    color: var(--white);
    background-color: var(--green);

    border-radius: 25px;
    padding: 10px 30px;

    display: flex;
    align-items: center;
    gap: 10px;
}