.header {}

.header__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__item p {
    line-height: 1;
    font-weight: 700;
}

.header__item a {
    line-height: 1;
    font-weight: 700;
}

.header__inner {
    position: relative;
    padding: 25px 0;

    display: flex;
    align-items: center;
    gap: 30px;
}

.header__search {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    background: #f5f6f8;
    width: 100%;
    padding: 0 20px;
    flex: 1 1 auto;
}

.header__search input {
    padding: 10px 30px 10px 20px;
    background: #f5f6f8;
    display: flex;
    align-items: center;
    width: 100%;
}

.header__lk-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    flex: 0 0 auto;

    border: 1px solid #eef0f3;
    border-radius: 25px;
    padding: 10px 30px;

    cursor: pointer;
}

.header__lk-button span {
    white-space: nowrap;
}

.header__modal-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: var(--yellow);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease;
}

.header__modal-wrapper.is-active {
    opacity: 1;
    visibility: visible;
}

.catalog-button.is-active .catalog-button-img-1 {
    display: none;
}

.catalog-button-img-2 {
    display: none;
}

.catalog-button.is-active .catalog-button-img-2 {
    display: block;
}

.catalog-menu {
    position: absolute;
    top: 90px;
    left: 0;
    padding: 30px 40px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: opacity 0.3s ease;

    opacity: 0;
    visibility: hidden;
}

.catalog-menu.is-active {
    opacity: 1;
    visibility: visible;
}

.catalog-menu li {
    padding: 30px 20px;
    min-width: 240px;

    border-radius: 10px;
    background: #e8f1eb;
}

.catalog-menu img {
    position: absolute;
    bottom: 0;
    right: 0;
}